:host {
  width: 100%;
}

paper-material.mainWrapper {
  height: 90%;
  width: 90%;
  margin: 20px;
  padding: 40px
}

paper-material.main {
  height: 100%;
  width: 100%;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 600px) {
  h1.paper-font-display1 {
    font-size: 24px;
  }
}
