:host {
  position: absolute;
  height: 100%;
  width: 100%;
}

#propertyContainer {
  overflow-y: hidden;
  display: left;
  height: calc(95% - 30px);
  margin: 10px;
  padding-right: 10px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);*/
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--default-primary-color);
    /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);*/
}
::-moz-appearance-scrollbarthumb-vertical {
  border-radius: 3px;
  background: #90caf9;
}
::--moz-appearance-scrollbartrack-horizontal {
    /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);*/
    background: #90caf9;
}
